/* @import "../../fonts/futura/Futura\ Bold\ font.ttf" */

.head {
  display: flex;
  width: 100%;
  justify-content: center;

  > .head_content {
    width: 95%;
    background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;

    > .left_part {
      > h2 {
        color: #0d1b4d;
      }

      > p {
        color: #808080;
        font-style: italic;
      }
    }
  }
}
